<h1>Author SHOW</h1>

<%= link_to "Delete Author", author_path(@author), method: :delete %>
<div id="author-information">
  <%= @author.name %>

  <% @author.books.each do |book| %>
  <div id="book-info-<%=book.id%>">
    <h2 class="book-title"><%= link_to book.title, book_path(book.id) %></h2>
      <p><%= book.pages %></p>
      <p><%= book.published_year %></p>
      <% if book.authors.length > 1 %>
        <% book.authors.each do |author|%>
        <% unless author == @author %>
        <h2 class="coauthors-names"><%= link_to author.name, author_path(author.id) %></h2>
        <%end%>
        <%end%>
      <%end%>
      <div id="book-review">
        <% if book.top_review %>
          <p><%= book.top_review.title %></p>
          <p><%= link_to book.top_review.user_name(book.top_review.user_id), user_path(book.top_review.user_id)  %></p>
          <p><%= book.top_review.rating %></p>
          <p><%= book.top_review.description %></p>
          <% end %>
      </div>
  <% end %>
</div>
</div>
