<h1>Author SHOW</h1>

<div id="author-information">
  <%= @author.name %>
  <% @author.books.each do |book| %>
    <div class="book-info-<%= book.id %>">
      <%= book.title %>
      <%= book.pages %>
      <%= book.published_year %>
    </div>
      <div class="book-review">
        <% if book.top_review %>
          <p><%= book.top_review.title %></p>
          <p><%= book.top_review.user_name(book.top_review.user_id) %></p>
          <p><%= book.top_review.rating %></p>
          <p><%= book.top_review.description %></p>
        <% end %>
      </div>
  <% end %>
</div>
