<h1>USER REVIEW SHOW</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="review-date-desc" href="?sort=reviewsdate&order=desc">Reviews: Newest First</a>
    <a class="dropdown-item" id="review-date-asc" href="?sort=reviewsdate&order=asc">Reviews: Oldest First</a>
  </div>
</div>
<div class="user-reviews">

  <%= @user.name %>
  <% @reviews.each do |review| %>
  <div id="review-<%= review.id %>">
    <%= review.title %>
    <%= review.rating %>
    <%= review.description %>
    CREATED_AT: <%= review.created_at.strftime("%B %d, %Y") %>
    <%= link_to "Delete Review", review_path(review), method: :delete %>
  </div>
  <% end %>
</div>
