<h1>All Books</h1>

<div id="statistics">
  <h2>TOP BOOKS:</h2>
    <% @top_books.each do |book| %>
      <p><%= book.title %></p>
      <p><%= book.average_rating %></p>
    <% end %>
  <h2>LOWEST RATED BOOKS:</h2>
    <% @lowest_books.each do |book|%>
      <p><%= book.title %></p>
      <p><%= book.average_rating %></p>
    <% end %>
  <h2>TOP POWER USERS:</h2>
    <% @power_users.each do |user| %>
      <p><%= user.name %></p>
      <p><%= user.review_count %></p>
    <% end %>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="?sort_review_count=asc">Review Count: Ascending</a>
  </div>
</div>

<div class="books" id="indiv-book-stats">

<% @books.each do |book| %>
<div class="book book-<%= book.id %>">
  <h2><%=  book.title %></h2><h3><%= book.average_review_score %></h3><h3><%= book.total_reviews %> reviews</h3>
  <% book.authors.each do |author| %>
    <p><%= author.name %></p>
  <% end %>
  <p><%=  book.pages %></p>
  <p><%=  book.published_year %></p>
</div>
<%end%>
</div>
