<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/book_index.css">
  <title>Athenaeum</title>
</head>

<div id="statistics">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Athenaeum</h1>
    <a href="/books/new" id="Add Book"class="badge badge-secondary">Add Book</a>
    <p class="lead">
        <article class="book-stats">
          <h2>TOP BOOKS:</h2>
          <% @top_books.each do |book| %>
            <p><%= book.title %> - <%= book.average_rating.round %> <i class="fas fa-star"></i></p>
          <% end %>
        </article>
        <article class="book-stats">
        <h2>LOWEST RATED BOOKS:</h2>
          <% @lowest_books.each do |book|%>
          <p><%= book.title %> - <%= book.average_rating.round %> <i class="fas fa-star"></i></p>
          <% end %>
        </article>
        <article class="book-stats">
        <h2>TOP POWER USERS:</h2>
          <% @power_users.each do |user| %>
            <p><%= user.name %> - <%= user.review_count %> reviews!</p>
          <% end %>
        </article>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort by:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" id="reviews-asc" href="?sort=reviews&order=asc">Review Count: Ascending</a>
      <a class="dropdown-item" id="reviews-desc" href="?sort=reviews&order=desc">Review Count: Descending</a>
      <a class="dropdown-item" id="ratings-asc" href="?sort=ratings&order=asc">Avg Rating: Ascending</a>
      <a class="dropdown-item" id="ratings-desc" href="?sort=ratings&order=desc">Avg Rating: Descending</a>
      <a class="dropdown-item" id="pages-asc" href="?sort=pages&order=asc">Page Count: Ascending</a>
      <a class="dropdown-item" id="pages-desc" href="?sort=pages&order=desc">Page Count: Descending</a>
    </div>
  </div>
</div>
</div>

<div class="books" id="indiv-book-stats">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p id="carousel-header">Loading library...<br><br><br></p>
      </div>
      <% @books.each do |book| %>
        <div class="carousel-item">
          <div class="book book-<%= book.id %>">
            <h2 class="book-title"><%=  book.title %></h2>
            <h3><%= book.average_review_score.round %> <i class="fas fa-star"></i></h3>
            <h3><%= book.total_reviews %> reviews</h3>
            by:<% book.authors.each do |author| %>
              <p><%= author.name %></p>
            <% end %>
            <p><%=  book.pages %> pages</p>
            <p>Published in: <%=  book.published_year %></p>
          </div>
        </div>
      <% end %>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
