<head>
  <title>Add Book</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/new_book.css">
</head>
<body>
  <div class="jumbotron">
    <h1>Enter your new book below:</h1>
    <%= form_for @book do |f| %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.label :What_is_it_called? %> <br>
    <%= f.text_field :title %> <br>
    <%= f.label :How_many_pages_does_it_have? %> <br>
    <%= f.number_field :pages %> <br>
    <%= f.label :When_was_it_published? %> <br>
    <%= f.number_field :published_year %> <br>
      <%= f.label :Who_wrote_it? %> <br>
      <%= f.text_field :authors, value: ' ' %> <br><br><br>
    <%= f.submit %>
  <% end %>
  </div>
</body>
