<h1>BOOK SHOW</h1>

<%= link_to "Add Review", new_book_review_path(@book) %>
<%= link_to "Delete Book", book_path(@book), method: :delete %>

<div id="book-information">
  <%= @book.title %>
  <% @book.authors.each do |author| %>
    <h2 class="author-name"><%= link_to author.name, author_path(author.id) %></h2>
  <% end %>
  <img src="<%= @book.img %>">
  <%= @book.pages %>
  <%= @book.published_year %>
</div>

<%= @book.average_review_score %>

<article class="book-stats">
  <div class="top-books">
  <h2>Top ratings for this book:</h2>
<% @book.top_three_reviews.each do |review| %>
    <%= review.title %>
    <%= review.rating %>
    <%= link_to review.user_name(review.user_id), user_path(review.user_id) %>
  </div>
<% end %>
  <h2>Lowest ratings for this book:</h2>
<% @book.bottom_three_reviews.each do |review| %>
    <%= review.title %>
    <%= review.rating %>
    <%= link_to review.user_name(review.user_id), user_path(review.user_id) %>
<% end %>
</article>

<div id="book-reviews">
  <h2>ALL REVIEWS</h2>
  <% @book.reviews.each do |review| %>
    <p><%= review.title %></p>
    <p><%= link_to review.user_name(review.user_id), user_path(review.user_id) %></p>
    <p><%= review.rating %></p>
    <p><%= review.description %></p>
  <% end %>
</div>
